#dropdown-basic {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  background-color: white !important;
  color: black;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 0;
}

#dropdown-basic:active {
  background-color: white !important;
}

.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropdown-toggle::after {
  margin: auto;
  margin-left: 5px;
}

.mobile-dropdown {
  display: none !important;
}

@media screen and (max-width: 626px) {
  .mobile-dropdown {
    display: flex !important;
  }
}

.SASA {
  color: black;
}
