* p {
  margin: 0;
  padding: 1px 0;
  text-overflow: ellipsis;
  font-family: 'Inter Var', sans-serif;
}

.card-list {
  max-width: 250px;
  max-height: 414px;
  color: black;
  height: auto;
  padding: 5px;
}
.card-grid {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-gap: 20px; */
  /* column-gap: 55px; */
  justify-items: center;
  background-color: rgb(222, 222, 222);
}

.addCard {
  margin-bottom: 10px;
}

.card-body {
  /* justify-content: space-between; */
  width: 100%;
  max-width: 1300px;
}

.card-image {
  width: 100%;
  height: auto;
  max-width: 218px;
  max-height: 240px;
  border-top-left-radius: 15px;
  border-top-right-radius: 10px;
}

.card-image:hover {
  opacity: 0.7;
  transition: all 0.2s;
}

.card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: none;
  max-width: 200px;
  /* max-height: 120px; */
}

.card-text-creator-div {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 16px;
  /* max-height: 120px; */
}

.card-text-creator {
  font-size: 14px;
  color: grey;
}

.user-asset {
  /* padding-top: 15px; */
}

.card-text-collection {
  font-size: 16px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  overflow: hidden;
}

.card-text-coin {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.card-text-usd {
  font-size: 12px;
  font-weight: bold;
}
