.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: white !important;
  position: -webkit-sticky; /* Safari */
  position: fixed !important;
  top: 0 !important;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 70px;
}

.navbar-toggle {
  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 990px) {
  .navbar-collapse {
    /* display: block !important; */
  }
}

@media screen and (max-width: 990px) {
  #basic-nav-dropdown {
    flex-direction: column !important;
    display: flex;
    padding: 0;
  }
}

@media screen and (max-width: 990px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .nav-link {
    flex-direction: column;
    padding: 4px 45px !important;
    width: 100%;
    max-width: 158px !important;
  }
}

.navbar-text {
  color: white !important;
  margin-right: auto;
  /* position: relative; */
}

.me-auto {
  background-color: white !important;
  color: white !important;
  position: absolute;
  left: 85px;
}

@media screen and (max-width: 990px) {
  .navbar-linkss {
    display: flex;
    flex-direction: column;
  }
}

.container-navbar {
  background-color: white !important;
}

.cta-button {
  height: 35px;
  border: 0;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  color: white;
}

.wallet-connect-button {
  background-color: #f5f5f5;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  position: fixed;
  right: 20px;
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.cta-button {
  padding: 0 10px !important;
}

@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
