.container-footer {
  background-color: #152f4f;
  color: white;
  overflow: hidden;
}

.mt-5 {
  background-color: #152f4f;
  color: white;
}

.col-lg-5 {
  margin: auto;
}

ul {
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: #4180cb;
}
/* .links {

} */
.about-company i {
  font-size: 25px;
}
.about-company a {
  color: white;
  transition: color 0.2s;
}
.about-company a:hover {
  color: #4180cb;
}

.location i {
  font-size: 18px;
}
.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
